*, *::before, *::after {
    box-sizing: border-box;
}

.diary_header_container {
    background-color: white;
    height: 3rem;
}

.diary_header {
    width: 8.5in;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 5, .5);
    background-color: white;
}

.container .ql-container.ql-snow {
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
}

.container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 3rem;
    z-index: 1;
    background-color: white;
    border: none;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 5, .5);
}

@media (min-width: 1024px) {
    .quill.container {
        max-width: none;
    }
}

@media (min-width: 768px) {
    .quill.container {
        max-width: none;
    }
}

@media (min-width: 640px) {
    .quill.container {
        max-width: none;
    }
}